{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main class="content" role="main">
    <div class="{{post_class}}">
      <div id="featured" {{#if feature_image}} style="background-image: url({{feature_image}}){{/if}}">
        <div class="jumbotron jumbotron-fluid d-flex align-items-center">
          <div class="container text-center">
          {{#foreach tags}}
              <span class="badge badge-default tag"><a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a></span>
          {{/foreach}}
          <h1 class="post-title display-4">{{title}}</h1>
          <p class="lead">Posted on <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY h:mm A"}}</time></p>
        </div>
      </div>
    </div>

    <div class="container">
                {{>share}}
        <div class="post-content">
            {{content}}
        </div>

        <div class="post-footer">

            {{>share}}

            {{!-- Email subscribe form at the bottom of the page --}}
            {{#if @labs.subscribers}}
            <div class="subscribe-widget text-center">
                <h3 class="subscribe-title">Subscribe to {{@blog.title}}'s blog</h3>
                <p>Get the latest posts delivered right to your inbox.</p>
                {{subscribe_form
                  form_class="subscribe"
                  input_class="form-control form-control-lg"
                  button_class="btn btn-primary btn-block btn-lg"
                  placeholder="Your email address"
                }}
                <span class="gh-subscribe-rss">or subscribe <a href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/">via RSS</a> with Feedly!</span>
            </div>
            {{/if}}

        </div>

    </div>
  </div>
</main>

{{!-- Links to Previous/Next posts --}}
  <div class="container">
    <div class="row">
    {{#next_post}}
    <div class="col-md-6">
      <a href="{{url}}">
      <div class="card card-inverse">
        {{#if feature_image}}
        <img class="card-img" src="{{feature_image}}" alt="{{title}}">
        {{/if}}
        <div class="card-img-overlay">
          {{#foreach tags}}
              <span class="badge badge-default tag">{{name}}</span>
          {{/foreach}}
        <h2 class="card-title">Next Post: {{title}}</h2>
        <span class="card-subtitle mb-2">Posted on <time class="post-date" datetime="{{date format="YYYY-MM-DD HH:mm"}}">{{date format="MMMM DD YYYY h:mm A"}}</time></span>
        </div>
      </div></a>
    </div>
    {{else}}
        <div class="col-md-6 d-flex align-items-center justify-content-md-center">
        <h2 class="text-muted">No Newer Posts</h2>
      </div>
    {{/next_post}}
    {{#prev_post}}
    <div class="col-md-6">
      <a href="{{url}}">
      <div class="card card-inverse">
        {{#if feature_image}}
        <img class="card-img" src="{{feature_image}}" alt="{{title}}">
        {{/if}}
        <div class="card-img-overlay">
          {{#foreach tags}}
              <span class="badge badge-default tag">{{name}}</span>
          {{/foreach}}
        <h2 class="card-title">Previous Post: {{title}}</h2>
        <span class="card-subtitle mb-2">Posted on <time class="post-date" datetime="{{date format="YYYY-MM-DD HH:mm"}}">{{date format="MMMM DD YYYY h:mm A"}}</time></span>
        </div>
      </div></a>
    </div>
    {{else}}
        <div class="col-md-6 d-flex align-items-center justify-content-md-center">
          <h2 class="text-muted">No Older Posts!</h2>
        </div>
    {{/prev_post}}
</div>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://ryanoconnortech.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


</div>


{{/post}}
